/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 400px;
  }

  h2 {
    margin-top: 0;
    text-align: center;
  }

  .app_link{
    font-weight: 800;
    text-decoration: none;
    text-align: center;
    margin-top: 10px;
  }

.infor-messages{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input,
  textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    outline: #ddd;
  }

  .link-cards > a{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-left: 20px;
    margin-right: 5px;
    color: white;
    font-weight: 700;
    font-size: 100%;
    text-decoration: none;
    border: 1px solid #dc3545;
    background-color: #dc3545;
    border-radius: 50%;
    margin: 10px;
    width: 50px;
    height: 50px;
  }

  #social_links{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .msg{
    text-align: center;
    padding: 15px;
  }
  
  .error {
    color: red;
    font-weight: bold;
  }
  
  .message {
    color: green;
    font-weight: bold;
    text-align: center;
  }
  
  /* Specific styles for create_auction.html */
  #end_date {
    /* Adjust height to make datetime-local input align with other inputs */
    height: 35px;
  }
  
  /* Specific styles for delete_auction.html */
.button, .update_btn {
    display: block;
    padding: 10px;
    width: 100%;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px !important;
    border-radius: 5px !important;
    background-color: #dc3545;
  }
  .button{
    display: block;
    padding: 10px;
    width: 100%;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 250px;
    text-decoration: none;
    margin: 0 auto;
    border-radius: 5px;
    background-color: #dc3545;
  }
  
  .button:hover, .button:hover {
    background-color: #c82333;
  }
.btn:focus{
  outline: none !important;
  box-shadow: none;
}
.message {
  color: white;
  font-weight: bold;
  text-align: center;
  border: 1px solid #dc3545;
  width: 400px;
  margin: auto;
  border-radius: 2px;
  padding: 10px;
  background-color: #dc3545;
}
.carousel-item {
  width: 750px;
  height: 75vh;
  margin: auto;
}

img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
.error {
  color: white;
  font-weight: bold;
  text-align: center;
  border: 1px solid #dd5b68;
  width: 350px;
  border-radius: 2px;
  padding: 10px;
  background-color: #dd5b68;
}
