{% extends "base.html" %}
{% block title %}Auction Platform{% endblock %}
{% block content %}
  <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Auction Marketplace</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('register') }}">Auctions</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>

  <section id="intro">
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="{{ url_for('static', filename='img/cover-img.jpg')}}" class="d-block w-100 img" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h1>Auction Platform</h1>
            <p>A platform for online auctions</p>
          </div>
        </div>
      </div>
    </div>
    <div class="app_link mt-3 mb-3">
      <a class="button" href="{{ url_for('login') }}">Auction Now</a>
    </div>
  </section>

  <div class="container">
    <section id="about">
      <h2>About</h2>

      <p>This project was inspired by my personal experiences and passion for ebay and Auction.com. It all started
        as a simple project with no GUI, just working with a plain console application. As a Portfolio Project for Holberton School, I had the opportunity to
        bring this idea to life and showcase my skills and creativity.</p>

      <p>This project was developed by Joseph Nchimunya:</p>

      <ul id="social_links">
        <li class="link-cards"><a href="https://www.linkedin.com/in/joseph-mathias-nchimunya-4aaa54198/" target="_blank">
            <img src="{{ url_for('static', filename='font-icons/linkedin.svg')}}" width="20%" alt="LinkedIn">
            LinkedIn</a></li>
        <li class="link-cards"><a href="https://twitter.com/xvlll8two" target="_blank">
            <img src="{{ url_for('static', filename='font-icons/twitter.svg')}}" width="20%" alt="Twitter">
            Twitter</a></li>
        <li class="link-cards"><a href="https://github.com/nchimunya-joseph" target="_blank">
            <img src="{{ url_for('static', filename='font-icons/github.svg')}}" width="20%" alt="GitHub"> GitHub</a></li>
      </ul>

      <p>For more details and to contribute to the project, please visit the <a
          href="https://github.com/nchimunya-joseph/auction-marketplace" target="_blank">GitHub repository</a>.</p>

      <p>Note: This project is part of the Holberton School curriculum. Learn more about Holberton at <a
          href="https://www.holbertonschool.com" target="_blank">Holberton School</a>.</p>
    </section>

    <section id="features" style="margin-bottom: 20px;">
      <h2>Key Features</h2>
      <div class="features-container">
        <div class="feature">
          <img src="{{ url_for('static', filename='font-icons/check-solid.svg')}}" alt="Feature 1">
          <h3>Auction Management</h3>
          <p>Allow users to manage their own auctions, including editing the auction details, extending the end
            date/time if desired, and closing the auction once it has ended.</p>
        </div>

        <div class="feature">
          <img src="{{ url_for('static', filename='font-icons/list-solid.svg')}}" alt="Feature 2">
          <h3>Auction Listing</h3>
          <p>Provide a platform for users to create and list their items for auction. Users should be able to specify
            details such as the title, description, starting bid, and end date/time for each auction.</p>
        </div>

        <div class="feature">
          <img src="{{ url_for('static', filename='font-icons/list-check-solid.svg')}}" alt="Feature 3">
          <h3>Watchlist</h3>
          <p>Allow users to add auctions to their watchlist, making it easier for them to keep track of auctions they
            are interested in without necessarily placing a bid.</p>
        </div>
      </div>
    </section>
  </div>
  {% endblock %}