{% extends 'base.html' %}
{% block title %}User Profile{% endblock %}
{% block content %}
  <h2>User Profile</h2>
  {% if access_token %}
    <div class="message">Welcome, {{ username }}!</div>
    <div class="mt-4 container">
      <h3>Your Auctions</h3>
      {% if user_auctions %}
      <ul class="list-group list-group-flush">
        {% for auction in user_auctions %}
        <li class="list-group-item">{{ auction.title }}</li>
        {% endfor %}
      </ul>
      {% else %}
      <h1 class="display-2">No auctions created yet.</h1>
      {% endif %}
    </div>
  {% else %}
    <div class="error">Access denied. Please log in.</div>
    <p><a href="{{ url_for('login') }}">Login</a></p>
  {% endif %}
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>
    $(document).ready(function() {
      // If the access_token is not provided, redirect to the login page
      {% if not access_token %}
        setTimeout(function() {
          window.location.href = '/login';
        }, 3000); // Redirect after 3 seconds
      {% endif %}
    });
  </script>
{% endblock %}