{% extends 'base.html' %}
{% block title %}User Profile{% endblock %}
{% block content %}
  <h2>User Profile</h2>
  {% if access_token %}
    <div class="message">Welcome, {{ username }}!</div>
    <div class="mt-4">
      <a href="{{ url_for('auctions') }}" class="btn">Create Auction</a>
    </div>
    <div class="mt-4">
      <h3>Your Auctions</h3>
      {% if user_auctions %}
        <ul>
          {% for auction in user_auctions %}
            <li>{{ auction.title }}</li>
          {% endfor %}
        </ul>
      {% else %}
        <p>No auctions created yet.</p>
      {% endif %}
    </div>
  {% else %}
    <div class="error">Access denied. Please log in.</div>
    <p><a href="{{ url_for('login') }}">Login</a></p>
  {% endif %}
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>
    // $(document).ready(function() {
    //   // If the access_token is not provided, redirect to the login page
    //   {% if not access_token %}
    //     setTimeout(function() {
    //       window.location.href = '/login';
    //     }, 3000); // Redirect after 3 seconds
    //   {% endif %}
    // });
  </script>
{% endblock %}