{% extends 'base.html' %}
{% block title %}User Registration{% endblock %}
{% block content %}
<h2>User Registration</h2>
<div class="infor-messages">
  {% if error %}
  <div class="error">{{ error }}</div>
{% endif %}
{% if message %}
  <div class="message">{{ message }}</div>
{% endif %}
</div>
<form action="{{ url_for('register') }}" method="post">
  
  <input type="text" placeholder="Username" class="mb-2" id="username" name="username" required>

  <input type="email" placeholder="John@example.com" class="mb-2" id="email" name="email" required>

  <input type="password" placeholder="Password" class="mb-2" id="password" name="password" required>

  <button type="submit">Register</button>
</form>
<p class="msg">Already have an account? <a href="{{ url_for('login') }}">Login</a></p>
{% endblock %}