{% extends 'base.html' %}
{% block title %}User Registration{% endblock %}
{% block content %}
<h2 class="mt-4">User Registration</h2>
{% if error %}
  <div class="alert alert-danger" style="width: 450px; margin: 0 auto; text-align: center;" role="alert">
    {{ error }}
  </div>
{% endif %}
{% if message %}
  <div class="alert alert-success" style="width: 450px; margin: 0 auto; text-align: center;" role="alert">
    {{ message }}
  </div>
{% endif %}
</div>
<form action="{{ url_for('register') }}" class="form" method="post">
  
  <input type="text" placeholder="Username" class="mb-2" id="username" name="username" required>

  <input type="email" placeholder="John@example.com" class="mb-2" id="email" name="email" required>

  <input type="password" placeholder="Password" class="mb-2" id="password" name="password" required>

  <button type="submit" class="button">Register</button>
</form>
<p class="msg">Already have an account? <a href="{{ url_for('login') }}">Login</a></p>
{% endblock %}