{% extends 'base.html' %}
{% block title %}Place Bid{% endblock %}
{% block content %}
<h2>Place Bid</h2>
{% if error %}
  <div class="alert alert-danger" style="width: 450px; margin: 0 auto; text-align: center;" role="alert">
    {{ error }}
  </div>
{% endif %}
{% if message %}
  <div class="alert alert-success" style="width: 450px; margin: 0 auto; text-align: center;" role="alert">
    {{ message }}
  </div>
{% endif %}
<div style="margin: 0 auto;width: 500px;text-align: justify;">
  <p class="lead" >
    {{description}}
  </p>
</div>
<form action="{{ url_for('place_bid', auction_id=auction_id) }}" class="form" method="post">
  <input type="hidden" id="user_id" name="user_id" value="{{ user_id }}">
  <label for="bid_amount">Bid Amount:</label>
  <input type="number" step="0.01" id="bid_amount" name="bid_amount" required>

  <button type="submit" class="button">Place Bid</button>
</form>
{% endblock %}